<% if logged_in? %>

      <% if current_user.admin %>
     
      <div class="row">
       
      <li><%= link_to " Create Conference Rooms " , new_room_path %></li>
      
      </div>
      
      
      <div class="row">
        
      <li><%= link_to " View All Users ", users_path %></li>
      
      </div>
      
      <div class="row">
        
      <li><%= link_to " Create Holiday ", new_holiday_path %></li>
      
      </div>
     
      <% end %>
       
      
     
     
     <div class="row">
      
      <li><%= link_to " Show Conference Rooms " , rooms_path %></li>
      
       
     </div>
    
     <div class="row">
       
     <li> <%= link_to " Book Rooms " , new_confroombooking_path %></li>
      
       
     </div>
     
      <div class="row">
       
     <li> <%= link_to " Show Bookings " , confroombookings_path %></li>
      
       
     </div>
     
      <div class="row">
        
      <li><%= link_to " View Holidays ", holidays_path %></li>
      
      </div>
  
 <% else %>

  <div class="center jumbotron">
   <h1>Welcome To The Sample Conference Room Booking App</h1>
   
   <%= link_to "Sign up now!" , signup_path , class: "btn btn-lg btn-primary" %>
   
  </div>

<% end %>

   
   
   
   