<% provide(:title, @room.roomname ) %>
<div class="row">
    
   <li>Name          -   <%= @room.roomname %> </li> 
   <li>Type          -   <%= @room.roomtype %> </li>
   <li>Capacity      -   <%= @room.roomcapacity %> </li> 
   <li>Floor         -   <%= @room.floor %> </li>
   <li>Building Name -   <%= @room.buildingname %> </li> 
   <li>Campus Name   -   <%= @room.campusname %> </li>
   <li>City Name     -   <%= @room.city %> </li>
   <li>State Name    -   <%= @room.state %> </li>
   <li>Country Name  -   <%= @room.country %> </li>

</div>

