<% provide(:title, @room.roomname ) %>
<div class="row">
  <aside class="col-md-4">
    <section class="room_info">
    <h1>
    <%= @room.roomname %>
    <%= @room.roomtype %>
    <%= @room.roomcapacity %>
    <%= @room.floor %>
    <%= @room.buildingname %>
    <%= @room.campusname %>
    <%= @room.city %>
    <%= @room.state %>
    <%= @room.country %>
    
    </h1>
    </section>
  </aside>
</div>

